.sidebar{
    @apply w-52 h-screen bg-customBeige text-white flex flex-col;
}

.sidebar-header{
    @apply text-2xl font-bold p-4 border-b border-gray-700
}

.sidebar-logo {
    @apply mx-auto my-4 w-36 h-auto; /* ลดความกว้างเหลือ 24rem */
  }
  

.nav-link{
    @apply w-full p-2 rounded-none text-center bg-sideInactive hover:bg-sideActive;
    @apply border-b border-white;
}

.nav-active{
    @apply bg-sideActive text-white; /* สไตล์สำหรับลิงก์ที่ active */
}

.dropdown-button{
    @apply w-full p-2 rounded-none text-center bg-sideInactive hover:bg-sideInactive;
    @apply border-b border-white;
    @apply border-b last:border-b-0;
}
.dropdown-active{
    @apply bg-sideActive text-white;
}

.logout{
    @apply w-full p-4 rounded-none text-xl font-bold text-center bg-sideInactive hover:bg-sideActive;
}